.App-header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: black
}

.App-content {
  position: relative;
  height: auto;
  width: 100%;
}

.App-footer {
  background-color: #979191;
  position: relative;
  width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}


