#Nav{
    position: relative;
    margin: auto;
    padding: 20px 0px;
    width:85%;
    height: 30px;
    color:white;
    float: both;
}

ul,li{
    margin: 0;
    padding: 0;
    display: inline;
    list-style:none;
}


.back_btn{
    float: left;
}

.cart_btn{
    position: relative;
    float: right;
    text-align: center;
}

.cart_count_circle{
    top: 50%;
    left: 50%;
    font-size: small;
    font-weight: 700;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    margin: auto;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
    #Nav{
        width:95%;
        height: 30px;
    }
}