#Nav{
    position: relative;
    margin: auto;
    padding: 20px 0px;
    width:85%;
    height: 30px;
    color:white;
    float: both;
}

ul,li{
    margin: 0;
    padding: 0;
    display: inline;
    list-style:none;
}


.back_btn{
    float: left;
}

.cart_btn{
    float: right;
}

@media only screen and (max-width: 1024px) {
    #Nav{
        width:95%;
        height: 30px;
    }
}