.Product_content{
  position: relative;
  margin: auto;
  padding: 3% 0%;
  width:75%;
  justify-content: center;
  background-color: white;
  align-items: center;
}


ul{
    list-style-type: none;
  }



